**/.DS_Store
**/__pycache__
**/.claude
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.mypy_cache
**/.pre-commit-config.yaml
**/.project
**/.pytest_cache
**/.ruff_cache
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
README.Docker.md
pyproject.toml
pytest.ini
tests/
