# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
htmlcov/
.pytest_cache/
.coverage

# Virtual envs
.venv/
venv/
env/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db


# other
.claude
